{% extends "recipe_app/layout.html" %}

{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
{% endblock extra_css%}


{% block header-middle %}
{% endblock header-middle %}


{% block main-content %}

<div class="row-wrapper section-row card" style="margin-top: 0;">
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 1rem;">
        <div class="form-header">
            LOGIN
        </div>
    </div>
    <div class="row-content" style="width: 100%; padding: 1rem;">
        <form method="post">
            {% csrf_token %}
            <div class="input-field-container">
                <label for="{{ form.username.id_for_label }}">
                    Email oder Nutzername
                </label>
                {{ form.username }}
            </div>
            
            <div class="input-field-container">
                <label class="" for="{{ form.password.id_for_label }}">
                    Password
                </label>
                {{ form.password }}
            </div>

            <div class="input-field-container" style="text-align: center">
                <button type="submit" class="submit-button">
                    LOGIN
                </button>
            </div>

            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
    <div class="row-content" style="margin-top: 0.5rem; margin-bottom: 1rem;">
        <div>
            Noch keinen Account? <a href="{% url 'chefs:signup' %}" style="text-decoration: underline">Anmelden</a>
        </div>
    </div>
    <div class="row-content" style="margin-bottom: 1rem;">
        {% if form.errors %}
        <div class="error-message warning-text">
            Your username and password didn't match.<br>
            Please try again.
        </div>
        {% endif %}
    </div>
</div>

{% endblock main-content %}