{% extends "recipe_app/layout.html" %}

{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
{% endblock extra_css%}

{% block main-content %}

<div class="row-wrapper section-row card" style="margin-top: 0;">
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 1rem;">
        <div class="form-header">
            LOGOUT
        </div>
    </div>
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 1rem;">
        <div>
            Du hast dich erfolgreich ausgeloggt!
        </div>
    </div>
    <div class="row-content" style="margin-top: 0.5rem; margin-bottom: 1.5rem; display: flex; flex-direction: column; gap: 1rem; align-items: center;">
        <div>
            <a href="{% url 'chefs:login' %}" style="text-decoration: underline">Erneut einloggen</a>
        </div>
        <div>
            <a href="{% url 'chefs:signup' %}" style="text-decoration: underline">Neu anmelden</a>
        </div>
    </div>
</div>

{% endblock main-content %}