{% extends "recipe_app/layout.html" %}

{% load static %}

{% block extra_css%}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
{% endblock extra_css%}


{% block main-content %}

<div class="row-wrapper section-row card" style="margin-top: 0;">
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 1rem; align-items: center; justify-content: center; width: 100%; gap: 1.2rem">
        <div class="profile-image-container">
            <svg xmlns="http://www.w3.org/2000/svg" width="40%" height="40%" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user">
                <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/>
                <circle cx="12" cy="7" r="4"/>
            </svg>
        </div>
        <div>
            <div class="form-header">
                {{ username }}
            </div>
            <div style="margin-top: 0.2rem;">
                {{ chef_level }}
            </div>
        </div>
    </div>
    <div class="row-content" style="width: 100%; padding: 1rem; flex-direction: column;">
        {% if follower.all %}
        <div>
            <div style="font-weight: 500; margin-bottom: 0.2rem;">
                Follower
            </div>
            <div>
                <ul style="overflow-wrap: break-word; padding-left: 1rem;">
                {% for chef in follower.all%}
                    <li><a href="{% url 'chefs:profile' chef.user.username %}">{{ chef.user.username }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if following.all %}
        <div>
            <div style="font-weight: 500; margin-bottom: 0.2rem;">
                Following
            </div>
            <div>
                <ul style="overflow-wrap: break-word; padding-left: 1rem;">
                {% for chef in following.all%}
                <li><a href="{% url 'chefs:profile' chef %}">{{ chef }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row-content" style="margin-top: 1.2rem; margin-bottom: 1rem; flex-direction: column; align-items: center;">
        <div>
            <div style="font-weight: 500; font-size: 1rem;">
                <a href="{% url 'recipes:author_recipes' username %}">Rezepte ansehen</a>
            </div>
        </div>
        {% if user.username != username %}
        <div>
            <button class="submit-button" id="follow-button" title="Chef folgen / entfolgen">
                {% if is_following %}
                    Entfolgen
                {% else %}
                    Folgen
                {% endif %}
            </button>
        </div>
        {% else %}
        <a href="{% url 'chefs:logout' %}">
            <button type="submit" class="submit-button" id="logout-button" title="Ausloggen">
                Ausloggen
            </button>
        </a>
        {% endif %}
    </div>

</div>

{% block javascript %}

<script>

    const userId = {{ user_id }};

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    // Follow button functionality
    const followButton = document.getElementById('follow-button');

    function toggleFollow() {
        fetch(`/chefs/toggle-follow/${userId}/`)
            .then(response => {
                if (response.ok) {
                    return response.json();
                }
                throw new Error('Network response was not ok');
            })
            .then(data => {
                console.log('Follow/unfollow successful!');
                window.location.reload();
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }

    followButton.addEventListener('click', toggleFollow);

</script>

{% endblock javascript%}

{% endblock main-content %}