* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --navbar-height: 5rem;
    --navbar-bg: none;
    --navbar-shadow: none;
    --text-color: #333;
    --text-color-2: rgb(67, 67, 67);
    --text-color-highlight-1: black;
    --text-color-highlight-2: rgb(255, 64, 0);
    --transition-speed: 0.3s;
    --max-width: 1400px;
    --content-padding: 1rem 2rem;
    --content-padding-mobile: 0.5rem 1rem;
    --main-spacing: 2rem;
    --main-bg: none;
}

@media only screen and (max-width: 499px) {
    .hide-mobile {
        display: none;
    }
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
    background-color: #d5d6cf;
}

a, button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.navbar {
    height: var(--navbar-height);
    background: var(--navbar-bg);
    transition: all var(--transition-speed) ease;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    font-size: 1.4rem;
    box-shadow: var(--navbar-shadow);
}

.navbar-logo {
    color: var(--text-color-highlight-1);
    font-size: 1.4rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.navbar-list li:hover {
    color: var(--text-color);
}

.navbar-list li {
    color: var(--text-color-highlight-1);
    transition: all var(--transition-speed) ease;
}

.navbar-list {
    display: flex;
    gap: 6rem;
    list-style: none;
    font-weight: 500;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: var(--content-padding);
    background: var(--main-bg);
}

@media only screen and (max-width: 499px) {
    main {
        padding: var(--content-padding-mobile);
    }
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 999px;
    min-height: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    transition: all 0.2s ease;
}

.login-btn {
    background-color: indianred;
    color: white;
    border: solid 2px indianred;
    transition: all var(--transition-speed) ease;
}

.login-btn:hover {
    color:  indianred;
    border: solid 2px  indianred;
    background-color: transparent;
}

.btn svg {
    width: 1.25em;
    height: 1.25em;
}

.navbar-logo svg {
    width: 1.25em;
    height: 1.25em;
}

.row-wrapper {
    display: block;
    background-color: none;
    padding: 0;
    width: 100%;
}

.section-row {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.row-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 3rem;
}

.widget {
    background-color: none;
}

.tag-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 800px;
}

.ingredient {
    border-radius: 999px;
    padding: 0.4rem 1rem;
    background: whitesmoke;
    border: solid 2px whitesmoke;
    color: black;
    min-height: 1.5rem;
    font-size: 1.2rem;
}

.ingredient:hover {
    color: #333;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 0px 8px 0px;
}

.recipe-pad {
    border-radius: 10px;
    height: auto;
    width: 800px;
    color: var(--text-color-highlight-1);
    padding: 3rem;
    background-color: #F2F3EE;
    box-shadow: rgba(102, 101, 95, 0.2) 0px 2px 8px 0px;
}

@media only screen and (max-width: 499px) {
    .recipe-pad {
        padding: 1.5rem;
    }
}

.recipe-pad-row {
    margin-top: 3rem;;
    border: solid 0px indianred;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.recipe-pad-content {
    border: solid 0px blue;
    width: 50%;
    flex: 1 1 300px;
}

.recipe-title {
    font-size: 2rem;
    font-weight: 500;
    min-width: 100%;
    text-align: center;
    margin-top: 0.5rem;
}

.recipe-description {
    font-size: 1.2rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

.recipe-instructions {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: left;
}

.card {
    border-radius: 10px;
    height: auto;
    width: 360px;
    color: var(--text-color-highlight-1);
    display: inline-flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
    padding: 1.5rem;
    background-color: #F2F3EE;
    box-shadow: rgba(102, 101, 95, 0.2) 0px 2px 8px 0px;
}

.card-recipe-container{
    width: auto;
    display: block;
    border-radius: 10px;
    border: solid 0px var(--text-color-highlight-1);
    color: var(--text-color-highlight-1);
    padding: 0.5rem;
}

.card:hover {
    box-shadow: rgba(107, 104, 97, 0.25) 0px 2px 12px 0px;
}

.recipe-properties-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.recipe-time, .recipe-servings {
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.recipe-time svg{
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.3rem;
}

.recipe-difficulty {
    font-size: 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    padding: 0.2rem 0.8rem;
}

.recipe-difficulty-easy {
    background-color: rgb(220 252 231);
    color: rgb(22 101 52);
}

.recipe-difficulty-medium {
    background-color: rgb(254 249 195);
    color: rgb(133 77 14);
}

.recipe-difficulty-hard {
    background-color: rgb(254 226 226);;
    color: rgb(153 27 27);
}

.title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 1.2rem;;
    line-height: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.description {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.main-ingredients, .additional-ingredients, .tips-container, .storage-container {
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.card-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.card-btn {
    background-color: indianred;
    border: solid 2px indianred;
    color: white;
    min-height: 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.card-btn:hover {
    background-color: whitesmoke;
    border: solid 2px indianred;
    color: indianred;
}

.initial-prompt-heading {
    font-size: 2rem;
    font-weight: 500;
    max-width: 90vw;
    text-align: center;
}

.searchbar-container {
    display: inline-flex;
    justify-content: center;
}

.searchbar {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.8rem 1rem;
    min-height: 1.5rem;
    min-width: 320px;
    max-width: 600px;
    width: 90vw;
    border-radius: 999px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--text-color-2);
    background-color: whitesmoke;
}

.searchbar-placeholder {
    margin-left: 0.5rem;
}

.searchbar svg {
    height: 1.2rem;
    width: 1.2rem;
}

.searchbar-button {
    border-radius: 999px;
    border: none;
    width: 1.9rem;
    height: 1.9rem;
    background-color:indianred;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar-button:hover {
    background-color: #333;
    cursor: pointer;
}

.searchbar-input {
    flex: 1;
    border: none;
    background: transparent;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    outline: none;
}

.spinner-overlay {
    position: fixed;
    top: 0vh;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d5d6cf;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.spinner {
    width: 70px;
    height: 70px;
    border: 5px solid #F2F3EE;
    border-top: 5px solid indianred;
    border-radius: 100%;
    animation: spin 1.8s linear infinite;
    margin-bottom: 1rem;
    margin-top: 2rem;
}


@keyframes spin {
    100% { transform: rotate(360deg); }
}