{% extends "recipe_app/layout.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
{% endblock extra_css %}

{% load number_converter %}

{% block main-content %}

{% csrf_token %}

<div class="row-wrapper section-row" style="margin-top: 0; margin-bottom: 0">
    <div class="row-content">
        <div class="widget recipe-pad">
            <div class="recipe-top-panel">
                <div class="stars" {% if user.is_authenticated %} id="rating-button" {% endif %} title="Rezept bewerten" >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 1.726l2.338 7.196h7.566l-6.121 4.448 2.338 7.196L12 16.118l-6.121 4.448 2.338-7.196L2.096 8.922h7.566z"
                            fill="currentColor"
                            stroke="currentColor"
                            stroke-width="1"
                            stroke-linejoin="round"
                        />
                    </svg>
                        {% if recipe.avg_rating %}
                            &thinsp;{{ recipe.avg_rating|floatformat:1  }}
                        {% endif %}
                        <span class="recipe-count-display">({{ recipe.rating_count }})</span>
                </div>
                <div class="recipe-user-panel">
                    <button class="panel-icon" id="recipe-panel-menu-overlay-open-button" style="transform: scale(0.9)" title="Rezept teilen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-ellipsis-vertical"><circle cx="12" cy="12" r="1"/><circle cx="12" cy="5" r="1"/><circle cx="12" cy="19" r="1"/></svg>    
                    </button>
                    {% if request.user.is_authenticated %}
                        {% if recipe.is_favorite %}
                            <button class="panel-icon" id="bookmark-icon-saved" style="display: flex" title="Aus Bibliothek entfernen">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="indianred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                            </button>
                            <button class="panel-icon" id="bookmark-icon-unsaved" style="display: none" title="Zu Bibliothek hinzufügen">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>
                            </button>
                        {% else %}
                            <button class="panel-icon" id="bookmark-icon-saved" style="display: none" title="Aus Bibliothek entfernen">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="indianred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-check"><circle cx="12" cy="12" r="10"/><path d="m9 12 2 2 4-4"/></svg>
                            </button>
                            <button class="panel-icon" id="bookmark-icon-unsaved" style="display: flex" title="Zu Bibliothek hinzufügen">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><circle cx="12" cy="12" r="10"/><path d="M8 12h8"/><path d="M12 8v8"/></svg>    
                            </button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <div style="display: flex; column-gap: 2rem; row-gap: 1rem; justify-content: center; align-items: center; flex-wrap: wrap; margin-top: 1.4rem;">
                {% if recipe.image %}
                <div class="recipe-image-container" style="max-width: 240px; max-height: 240px; flex-grow: 1;">
                        <img class="recipe-image" src="{{ recipe.image.image.url }}" alt="{{ recipe.image.alt_text }}">
                </div>
                {% endif %}
                <div style="min-width: 280px; flex-grow: 3;">
                    <div class="recipe-title">
                        <span>{{ recipe.title }}</span>
                    </div>
                    <div style="font-size: 1.1rem; font-weight: 500; color: indianred; margin-top: 1.1rem; text-align: left;">
                        {{ recipe.get_difficulty_display }} • 
                        <span title="{% for time in recipe.times.all %}{{ time.value|time_converter }} {{ time.name }}&#13;&#10;{% endfor %}">{{ recipe.time_total|time_converter}}</span>
                    </div>
                    <div class="recipe-description">
                        <div style="max-width: 500px; text-align: left"><span>{{ recipe.description }}</span></div>
                    </div>
                </div>
            </div>
        
            <div class="recipe-pad-row">
                <div class="recipe-pad-content">
                    <div style="display: flex; justify-content: flex-start; align-items: center; gap: 0.4rem; margin-bottom: 0.8rem;">
                        <div class="recipe-difficulty recipe-difficulty-X" style="display: flex; align-items: center; justify-content: center; gap: 0.4rem; background: none;">
                            <span style="line-height: 1;">
                                {% if recipe.default_servings == 1%}
                                    Portion:
                                {% else %}
                                    Portionen:
                                {% endif %}
                            </span>
                            <div class="servings-buttons-container">
                                <button class="servings-button" id="decrease-servings">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-minus"><path d="M8 12h8"/></svg>
                                </button>
                                <div id="servings-display">
                                    {{ recipe.default_servings }}</div>
                                <button class="servings-button" id="increase-servings">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-plus"><path d="M8 12h8"/><path d="M12 8v8"/></svg>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div>
                        {% for component in recipe.components.all %}
                            <div class="main-ingredients"><span style="font-weight: 400">{{ component.name }}</span><br>
                                <ul style="overflow-wrap: break-word; padding-left: 1rem;">
                                    {% for ingredient in component.ingredients.all %}
                                        <li style="margin-top: 0.5rem;">
                                            {% if ingredient.amount %}
                                            <span class="ingredient-amount" data-base-amount="{{ ingredient.amount }}">
                                                {{ ingredient.amount|to_fraction }}
                                            </span>
                                            {{ ingredient.unit }} 
                                            {% endif %}
                                            <span style="font-weight: 400;">{{ ingredient.ingredient.name }}</span> {{ ingredient.note }} </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="tips-container hide-mobile"><span style="font-weight: 400">Tipps:</span>
                        <ul style="overflow-wrap: break-word; padding-left: 1.2rem; list-style-type: none">
                            {% for tip in recipe.tips.all %}
                                <li style="margin-top: 0.5rem;">{{ tip.tip }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="storage-container hide-mobile"><span style="font-weight: 400">Aufbewahrung:</span>
                        <p style="margin-top: 0.5rem; padding-left: 1.2rem;">{{ recipe.storage }}</p>
                    </div>
                </div>
                <div class="recipe-pad-content">
                    <div class="recipe-instructions">
                        <ol style="overflow-wrap: break-word; padding-left: 1.2rem;">
                            {% for instruction_step in recipe.instruction_steps.all %}
                                <div style="break-inside: avoid">
                                    <li style="font-weight: 400; margin-bottom: 0.3rem;">{{ instruction_step.headline }}</li>
                                    <p style="margin-bottom: 1.2rem;">{{ instruction_step.description }}</p>
                                </div>
                            {% endfor %}
                        </ol>
                    </div>
                    <div class="tips-container hide-desktop"><span style="font-weight: 400">Tipps:</span>
                        <ul style="overflow-wrap: break-word; padding-left: 1.2rem; list-style-type: none">
                            {% for tip in recipe.tips.all %}
                                <li style="margin-top: 0.5rem;">{{ tip.tip }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="storage-container hide-desktop"><span style="font-weight: 400">Aufbewahrung:</span>
                        <p style="margin-top: 0.5rem; padding-left: 1.2rem;">{{ recipe.storage }}</p>
                    </div>
                </div>
            </div>
            <div class="recipe-bottom-panel">
                <div class="author">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                    {% if recipe.author %}
                        <a href="{% url 'chefs:profile' recipe.author %}"> {{ recipe.author }} </a>
                    {% else %}
                        <span>Unbekannt</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<div id="rating-overlay-container" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #F2F3EE;">
    <div style="padding: 1rem; display: flex; width: 100%; flex-direction: column; align-items: center; gap: 1.4rem; justify-content: center;">
        <div>
            <button class="panel-icon" id="rating-overlay-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            </button>
        </div>
        <div style="font-size: 1.4rem;">
            Rezept bewerten
        </div>
        <div class="overlay-stars" id="rating-button-stars" data-userrating="{{ recipe.user_rating|default:0 }}">
            {% for i in '12345' %}
            <button class="star-button" data-value="{{ forloop.counter }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path
                        d="M12 1.726l2.338 7.196h7.566l-6.121 4.448 2.338 7.196L12 16.118l-6.121 4.448 2.338-7.196L2.096 8.922h7.566z"
                        class="star-path"
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="1"
                        stroke-linejoin="round"
                    />
                </svg>
            </button>
            {% endfor %}
        </div>
        <div>
            <form id="rating-form">
                <button id="submit-rating-button" class="submit-button" style="padding-left: 1rem; padding-right: 1rem; margin-top: 0;">
                    ABSENDEN
                </button>
            </form>
        </div>
    </div>
</div>


<div id="image-upload-overlay-container" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #F2F3EE;">
    <div style="padding: 1rem; display: flex; width: 100%; flex-direction: column; align-items: center; gap: 1.4rem; justify-content: center;">
        <div>
            <button class="panel-icon" id="image-upload-overlay-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            </button>
        </div>
        <div style="font-size: 1.4rem;">
            Foto hochladen
        </div>
        <form method="POST" action="{% url 'recipes:upload_recipe_image' recipe.slug %}" enctype="multipart/form-data" class="image-upload-form" id="image-upload">
            {% csrf_token %}
            
            {% if image_form.errors %}
            <div class="alert alert-danger">
                {% for field in image_form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
            
            <div class="image-form-field">
                <div><label for="{{ image_form.image.id_for_label }}">Recipe Image:</label></div>
                <div>{{ image_form.image }}</div>
            </div>

            <button id="submit-image-upload-button" class="submit-button" style="padding-left: 1rem; padding-right: 1rem; margin-top: 0;">
                ABSENDEN
            </button>
        </form>
    </div>
</div>


<div id="recipe-panel-menu-overlay-container" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #F2F3EE;">
    <div style="padding: 1rem; display: flex; width: 100%; flex-direction: column; align-items: center; gap: 1.4rem; justify-content: center;">
        <div>
            <button class="panel-icon" id="recipe-panel-menu-overlay-close-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="indianred" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-circle-x"><circle cx="12" cy="12" r="10"/><path d="m15 9-6 6"/><path d="m9 9 6 6"/></svg>
            </button>
        </div>
        <div style="font-size: 1.4rem; text-align: center; font-weight: 500; margin-bottom: 0.2rem;">
            {{ recipe.title }}
        </div>
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: left; gap: 0.8rem; font-size: 1.2rem;">
            <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                <button class="panel-icon-overlay" id="share-button-{{ recipe.id }}" data-slug="{{ recipe.slug }}" style="transform: scale(0.9)" title="Rezept teilen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-share-2"><circle cx="18" cy="5" r="3"/><circle cx="6" cy="12" r="3"/><circle cx="18" cy="19" r="3"/><line x1="8.59" x2="15.42" y1="13.51" y2="17.49"/><line x1="15.41" x2="8.59" y1="6.51" y2="10.49"/></svg>
                    <div style="margin-left: 0.6rem;">Teilen</div>
                </button>
            </div>
            {% if user.is_authenticated %}
            <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                <button class="panel-icon-overlay" id="add-to-shopping-list-button" title="Zu Einkaufsliste hinzufügen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list-plus"><path d="M11 12H3"/><path d="M16 6H3"/><path d="M16 18H3"/><path d="M18 9v6"/><path d="M21 12h-6"/></svg>    
                    <div style="margin-left: 0.6rem;">Zu Einkaufsliste hinzufügen</div>
                </button>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
            <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                <button class="panel-icon-overlay" id="rating-button-overlay-menu" title="Rezept bewerten">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path
                            d="M12 1.726l2.338 7.196h7.566l-6.121 4.448 2.338 7.196L12 16.118l-6.121 4.448 2.338-7.196L2.096 8.922h7.566z"
                            fill="none"
                            stroke="currentColor"
                            stroke-width="2"
                            stroke-linejoin="round"
                        />
                    </svg>
                    <div style="margin-left: 0.6rem;">Rezept bewerten</div>
                </button>
            </div>
            {% endif %}
            {% if user.is_authenticated %}
                {% if request.user == recipe.author %}
                <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                    <a href="{% url 'chefs:profile' recipe.author %}" class="panel-icon-overlay" id="recipe-author-button" title="Chef aufrufen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        <div style="margin-left: 0.6rem;">Chef aufrufen</div>
                    </a>
                </div>
                <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                    <a class="panel-icon-overlay" id="image-upload-button" title="Foto hochladen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-image"><rect width="18" height="18" x="3" y="3" rx="2" ry="2"/><circle cx="9" cy="9" r="2"/><path d="m21 15-3.086-3.086a2 2 0 0 0-2.828 0L6 21"/></svg>
                        <div style="margin-left: 0.6rem;">Foto hochladen</div>
                    </a>
                </div>
                {% endif %}
            {% endif %}
            {% if request.user == recipe.author %}
            <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                <form id="edit-recipe-form" action="{% url 'recipes:edit_recipe' recipe.slug %}" method="POST" style="display: flex; justify-content: center;">
                    {% csrf_token %}
                    <button type="submit" class="panel-icon-overlay" id="edit-recipe-button" style="transform: scale(0.9)" title="Rezept bearbeiten">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-pencil"><path d="M21.174 6.812a1 1 0 0 0-3.986-3.987L3.842 16.174a2 2 0 0 0-.5.83l-1.321 4.352a.5.5 0 0 0 .623.622l4.353-1.32a2 2 0 0 0 .83-.497z"/><path d="m15 5 4 4"/></svg>
                        <div style="margin-left: 0.6rem;">Rezept bearbeiten</div>
                    </button>
                </form>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; gap: 0.4rem;">
                <button class="panel-icon-overlay" id="delete-button" style="transform: scale(0.9)" title="Rezept löschen">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trash"><path d="M3 6h18"/><path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6"/><path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2"/></svg>
                    <div style="margin-left: 0.6rem;">Löschen</div>
                </button>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% block javascript %}

{% url 'recipes:explore' as explore_url %}

<script>

    const userId = {{ user.id|default:'null' }};

    function getCsrfToken() {
        return document.querySelector('[name=csrfmiddlewaretoken]').value;
    }

    // Save button functionality
    const recipe = { id: {{ recipe.id }} };
    const iconSavedContainer = document.getElementById('bookmark-icon-saved');
    const iconUnsavedContainer = document.getElementById('bookmark-icon-unsaved');

    function toggleSave() {
        fetch(`/recipes/toggle-save/${recipe.id}/`)
            .then(response => response.json())
            .then(data => {
                if (data.status === 'saved') {
                    iconUnsavedContainer.style.display = 'none';
                    iconSavedContainer.style.display = 'flex';
                } else {
                    iconSavedContainer.style.display = 'none';
                    iconUnsavedContainer.style.display = 'flex';
                }
            });
    }

    iconSavedContainer?.addEventListener('click', toggleSave);
    iconUnsavedContainer?.addEventListener('click', toggleSave);

    // Share button functionality
    document.addEventListener('DOMContentLoaded', () => {
        const share_tooltip = document.createElement('div');
        share_tooltip.className = 'tooltip';
        share_tooltip.textContent = 'Link kopiert!';
        document.body.appendChild(share_tooltip);
    
        document.querySelectorAll('[id^="share-button-"]').forEach(button => {
            button.addEventListener('click', async function(e) {
                
                const recipeSlug = this.dataset.slug;
                const url = `${window.location.origin}/recipes/detail/${recipeSlug}/`;
    
                try {
                    await navigator.clipboard.writeText(url);
                    
                    // Show tooltip
                    const rect = this.getBoundingClientRect();
                    share_tooltip.style.left = `${rect.left}px`;
                    share_tooltip.style.top = `${rect.bottom + 5}px`;
                    share_tooltip.classList.add('visible');
                    
                    // Remove tooltop
                    setTimeout(() => {
                        share_tooltip.classList.remove('visible');
                        this.style.color = '';
                    }, 1000);
                } catch (err) {
                    console.error('Failed to copy link:', err);
                }
            });
        });
    });


    // Servings control functionality
    document.addEventListener('DOMContentLoaded', function() {
        const baseServings = {{ recipe.default_servings }};
        let currentServings = baseServings;
    
        const servingsDisplay = document.getElementById('servings-display');
        const ingredients = document.querySelectorAll('.ingredient-amount');
    
        function decimalToFraction(decimal) {
            if (decimal < 0.125) {
                return decimal === 0 ? '0' : decimal.toFixed(2);
            }
    
            const wholePart = Math.floor(decimal);
            const fractionalPart = decimal - wholePart;
            
            if (fractionalPart === 0) {
                return wholePart.toString();
            }
            
            const fractions = {
                0.125: '1/8',
                0.25: '1/4',
                0.333: '1/3',
                0.375: '3/8',
                0.5: '1/2',
                0.625: '5/8',
                0.666: '2/3',
                0.75: '3/4',
                0.875: '7/8'
            };
            
            const nearestFraction = Object.entries(fractions).reduce((prev, curr) => {
                return Math.abs(curr[0] - fractionalPart) < Math.abs(prev[0] - fractionalPart) ? curr : prev;
            });
            
            return wholePart ? `${wholePart} ${nearestFraction[1]}` : nearestFraction[1];
        }
    
        function updateIngredientAmounts() {
            ingredients.forEach(ingredient => {
                // Replace comma with period before parsing
                const baseAmount = parseFloat(ingredient.dataset.baseAmount.replace(',', '.'));
                const newAmount = (baseAmount * currentServings) / baseServings;
                ingredient.textContent = decimalToFraction(newAmount);
            });
        }
    
        document.getElementById('increase-servings').addEventListener('click', function() {
            currentServings++;
            servingsDisplay.textContent = currentServings;
            updateIngredientAmounts();
        });
        
        document.getElementById('decrease-servings').addEventListener('click', function() {
            if (currentServings > 1) {
                currentServings--;
                servingsDisplay.textContent = currentServings;
                updateIngredientAmounts();
            }
        });
    });

    // Recipe menu panel overlay functionality

    const recipePanelMenuOverlayContainer = document.getElementById('recipe-panel-menu-overlay-container');
    const recipePanelMenuOverlayOpenButton = document.getElementById('recipe-panel-menu-overlay-open-button');
    const recipePanelMenuOverlayCloseButton = document.getElementById('recipe-panel-menu-overlay-close-button');

    recipePanelMenuOverlayOpenButton.addEventListener('click', function() {
        recipePanelMenuOverlayContainer.style.display = 'flex';
    });

    recipePanelMenuOverlayCloseButton.addEventListener('click', function() {
        recipePanelMenuOverlayContainer.style.display = 'none';
    });


    // Image upload overlay functionality

    const imageUploadOverlay = document.getElementById('image-upload-overlay-container');
    const imageUploadButton = document.getElementById('image-upload-button');
    const imageUploadForm = document.getElementById('image-upload-form');
    const submitImageUploadButton = document.getElementById('submit-image-upload-button');
    const imageUploadOverlayCloseButton = document.getElementById('image-upload-overlay-close-button');

    imageUploadButton.addEventListener('click', function() {
        imageUploadOverlay.style.display = 'flex';
        recipePanelMenuOverlayContainer.style.display = 'none';
    });

    imageUploadOverlayCloseButton.addEventListener('click', function() {
        imageUploadOverlay.style.display = 'none';
    });


    // Rating overlay functionality

    const ratingButton = document.getElementById('rating-button');
    const ratingButtonOverlayMenu = document.getElementById('rating-button-overlay-menu');
    const ratingForm = document.getElementById('rating-form');
    const ratingOverlay = document.getElementById('rating-overlay-container');
    const submitRatingButton = document.getElementById('submit-rating-button');
    const ratingOverlayCloseButton = document.getElementById('rating-overlay-close-button');

    ratingForm.addEventListener('submit', async function(e) {
        e.preventDefault();
        await submitRating(ratingId, newUserRating);
        ratingOverlay.style.display = 'none';
    });

    ratingButton.addEventListener('click', function() {
        ratingOverlay.style.display = 'flex';
    });


    const isAuthenticated = {{ is_authenticated|yesno:"true,false" }};
    
    ratingButton.addEventListener('click', function() {
        if (isAuthenticated) {
            ratingOverlay.style.display = 'flex';
        }
    });

    ratingButtonOverlayMenu.addEventListener('click', function() {
        ratingOverlay.style.display = 'flex';
        recipePanelMenuOverlayContainer.style.display = 'none';
    });

    ratingOverlayCloseButton.addEventListener('click', function() {
        ratingOverlay.style.display = 'none';
    });

    const starsContainer = document.querySelector('.overlay-stars');
    let currentUserRating = parseFloat(starsContainer.dataset.userrating) || 0;
    let newUserRating = currentUserRating;
    const starButtons = document.querySelectorAll('.star-button');

    updateStarDisplay(currentUserRating);

    // Add hover effects
    starButtons.forEach(button => {
        button.addEventListener('mouseenter', function() {
            const value = parseInt(this.dataset.value);
            previewRating(value);
        });

        button.addEventListener('mouseleave', function() {
            starsContainer.removeAttribute('data-preview');
            updateStarDisplay(newUserRating);
        });

        button.addEventListener('click', function() {
            const value = parseInt(this.dataset.value);
            newUserRating = value;
            updateStarDisplay(newUserRating);
        });
    });

    function previewRating(value) {
        starsContainer.setAttribute('data-preview', value);
        starButtons.forEach(btn => {
            const btnValue = parseInt(btn.dataset.value);
            if (btnValue <= value) {
                btn.classList.add('preview');
            } else {
                btn.classList.remove('preview');
            }
        });
    }

    function updateStarDisplay(rating) {
        starButtons.forEach(btn => {
            const value = parseInt(btn.dataset.value);
            if (value <= rating) {
                btn.classList.add('active');
            } else {
                btn.classList.remove('active');
            }
        });
    }

    let ratingId = {{ recipe.rating_id|default:'null' }};

    async function submitRating(ratingId, ratingValue) {
        if (ratingId) {
            try {           
                const response = await fetch(`/api/v1/recipe_ratings/${ratingId}/`, {
                    method: 'PATCH',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCsrfToken()
                    },
                    body: JSON.stringify({
                        rating: ratingValue
                    })
                });
                
                if (response.ok) {
                    // Add animation to the star in the main view
                    const ratingButton = document.getElementById('rating-button');
                    ratingButton.classList.add('rating-success-animation');
                    
                    // Remove animation class after it completes
                    ratingButton.addEventListener('animationend', () => {
                        ratingButton.classList.remove('rating-success-animation');
                        // Only reload after animation completes
                        window.location.reload();
                    });
                }
            } catch (error) {
                console.error('Error:', error);
            }
        } else {
            try {
                const response = await fetch(`/api/v1/recipe_ratings/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCsrfToken()
                    },
                    body: JSON.stringify({
                        rating: ratingValue,
                        recipe: recipe.id,
                        author: userId
                    })
                });
    
                if (response.ok) {
                    // Add animation to the star in the main view
                    const ratingButton = document.getElementById('rating-button');
                    ratingButton.classList.add('rating-success-animation');
                    
                    // Remove animation class after it completes
                    ratingButton.addEventListener('animationend', () => {
                        ratingButton.classList.remove('rating-success-animation');
                        // Only reload after animation completes
                        window.location.reload();
                    });
                }
            } catch (error) {
                console.error('Error', error);
            }
        }
    }

    // Add the deletion functionality
    const deleteButton = document.getElementById('delete-button');
    const exploreUrl = '{{ explore_url }}';

    function deleteRecipe(recipeId) {
        if (confirm('Sicher, dass du das Rezept löschen möchtest?')) {
            fetch(`/api/v1/recipes/${recipeId}/`, {
                method: 'DELETE',
                headers: {
                    'X-CSRFToken': getCsrfToken()
                }
            })
            .then(response => {
                if (response.ok) {
                    console.error('Recipe deleted!');
                    window.location.href = exploreUrl;
                } else {
                    console.error('Failed to delete recipe');
                    alert('Failed to delete recipe. Please try again.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while deleting the recipe.');
            });
        }
    }

    deleteButton?.addEventListener('click', () => deleteRecipe(recipe.id));

    
    // Add shopping list functionality
    const addToShoppingListButton = document.getElementById('add-to-shopping-list-button');

    function addToShoppingList(recipeId, buttonElement) {
        // Create tooltip
        const shopping_list_tooltip = document.createElement('div');
        shopping_list_tooltip.className = 'tooltip';
        shopping_list_tooltip.textContent = 'Zu Einkaufsliste hinzugefügt!';
        document.body.appendChild(shopping_list_tooltip);

        // Make API call
        fetch(`/recipes/add-recipe-to-shopping-list/${recipeId}/`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(() => {
                // Show tooltip
                const rect = buttonElement.getBoundingClientRect();
                shopping_list_tooltip.style.left = `${rect.left}px`;
                shopping_list_tooltip.style.top = `${rect.bottom + 5}px`;
                shopping_list_tooltip.classList.add('visible');
            })
            .catch(error => {
                console.error('Error:', error);
                shopping_list_tooltip.textContent = 'Ein Fehler ist aufgetreten';
                shopping_list_tooltip.classList.add('error');
            })
            .finally(() => {
                // Remove tooltip after delay
                setTimeout(() => {
                    shopping_list_tooltip.classList.remove('visible');
                    document.body.removeChild(shopping_list_tooltip);
                }, 1000);
            });
    }

    // Only add event listener if button exists
    if (addToShoppingListButton) {
        addToShoppingListButton.addEventListener('click', function() {
            addToShoppingList(recipe.id, this);
        });
    }


</script>

{% endblock javascript %}


{% endblock main-content %}