{% extends "./layout.html" %}

{% load static %}

{% block header-middle %}

{% endblock header-middle %}


{% block main-content %}

<div style="height: 70vh; display: flex; align-items: center; justify-content: center; flex-direction: column;">

    <div class="row-wrapper">
        <div class="row-content">
            <div class="widget">
                <div class="initial-prompt-heading">
                    <p>Coming soon ...</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% block javascript %}

{% endblock %}

{% endblock main-content %}