{% extends "recipe_app/layout.html" %}

{% load static %}

{% block header-middle %}

{% endblock header-middle %}


{% block main-content %}

<div class="row-wrapper section-row" style="margin-top: 0;">
    <div class="row-content">
        <div class="widget">
            <span style="font-weight: 600; font-size: 2rem;">Wie wäre es hiermit?</span>
        </div>
    </div>
</div>

<div id="loading-spinner" class="spinner-overlay" style="display: none;">
    <p style="font-weight: 600; font-size: 2rem;">Erstelle vollständiges Rezept ...</p>
    <div class="spinner"></div>
</div>

<div class="row-wrapper section-row">
    <div class="row-content">
        {% for preview in recipe_previews %}
        
        <form class="preview-card-form" method="post" action="{% url 'recipes:recipe' %}">
            {% csrf_token %}
            {% for key, value in preview.items %}
                <input type="hidden" name="{{ key }}" value="{{ value }}">
            {% endfor %}
            <button type="submit">
                <div class="widget card">
                    <div class="card-recipe-container">
                        <div class="recipe-properties-container">
                            <div class="recipe-difficulty recipe-difficulty-{{ preview.difficulty }}">
                                {% for value, label in difficulty_choices %}
                                    {% if value == preview.difficulty %}
                                        {{ label }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="recipe-time"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-timer"><line x1="10" x2="14" y1="2" y2="2"/><line x1="12" x2="15" y1="14" y2="11"/><circle cx="12" cy="14" r="8"/></svg> {{ preview.time}}</div>
                        </div>
                        <div class="title">{{ preview.title }}</div>
                        <div class="description">{{ preview.description }}</div>
                        <div class="main-ingredients"><span style="font-weight: 400">Hauptzutaten:</span><br>
                            <span>
                                {{ preview.main_ingredients|join:", " }}
                            </span>
                        </div>
                        <div class="additional-ingredients"><span style="font-weight: 400">Weitere Zutaten:</span><br>
                            <span>
                                {{ preview.additional_ingredients|join:", " }}
                            </span>
                        </div>
                    </div>
                </div>
            </button>
        </form>
        {% endfor %} 
    </div>
</div>

{% block javascript %}

<script>
    const forms = document.querySelectorAll('.preview-card-form');
    forms.forEach(form => {
        form.addEventListener('submit', function(e) {
            document.getElementById('loading-spinner').style.display = 'flex';
        });
    });
</script>

{% endblock %}

{% endblock main-content %}
