{% extends "recipe_app/layout.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'registration/css/styles.css' %}">
{% endblock extra_css %}

{% block main-content %}

<div class="spinner-background" id="loading-spinner-bg" style="display: none;"></div>
    <div class="spinner-overlay" id="loading-spinner-card" style="display: none;">
        <div class="card">
            <p style="font-weight: 600; font-size: 2rem;">Erstelle Rezept ...</p>
            <div class="spinner"></div>
        </div>
    </div>
</div>

<div class="row-wrapper section-row card" style="margin-top: 0; margin-bottom: 0;">
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 0.4rem;">
        <div class="form-header">
            REZEPT
        </div>
    </div>
    <div class="row-content" style="margin-top: 1rem; margin-bottom: 1rem; width: 100%">
        <form method="post" action="{% url 'recipes:new_recipe' %}" id="recipe-text-form">
            {% csrf_token %}
            <div class="input-field-container" style="text-align: center; width: 100%;">
                <textarea name="recipe-description" style="width: 100%; min-height: 40vh; border-radius: 6px; padding: 1rem;"></textarea>
            </div>
            <div class="input-field-container" style="text-align: center">
                <button type="submit" class="submit-button">ABSENDEN</button>
            </div>
        </form>
    </div>
</div>

{% block javascript %}

<script>
    // activate loading spinner overlay on submit
    document.getElementById('recipe-text-form').addEventListener('submit', function(e) {
        document.getElementById('loading-spinner-bg').style.display = 'flex';
        document.getElementById('loading-spinner-card').style.display = 'flex';
    });
</script>

{% endblock %}


{% endblock main-content %}