{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Description of your website">
    <meta name="keywords" content="your, keywords, here">
    <meta name="author" content="Your Name">
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'recipes/favicon/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'recipes/favicon/favicon-32x32.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'recipes/favicon/favicon-180x180.png' %}">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'recipes/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'recipe_app/css/styles.css' %}">
    {% block extra_css %}{% endblock %}
    
    <title>ChatRCP</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <a class="navbar-logo" href="{% url 'home' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chef-hat"><path d="M17 21a1 1 0 0 0 1-1v-5.35c0-.457.316-.844.727-1.041a4 4 0 0 0-2.134-7.589 5 5 0 0 0-9.186 0 4 4 0 0 0-2.134 7.588c.411.198.727.585.727 1.041V20a1 1 0 0 0 1 1Z"/><path d="M6 17h12"/></svg>
                ChatRCP
            </a>
            <div>
                {% if user.is_authenticated %}
                <div style="display: flex; align-items: center; gap: 0.4rem; margin-right: 0.4rem;">
                    <button class="navlink-mobile" id="profile-button" style="" title="Profil ansehen">
                        <a href="{% url 'chefs:profile' user.username %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        </a>
                    </button>
                </div>
                {% else %}
                <a href="{% url 'chefs:login' %}">
                    <button id="login-button" class="btn login-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user"><path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>
                        Login   
                    </button>
                </a>
                {% endif %}
            </div>
        </nav>
    </header>

    <div style="display: flex; justify-content: center; font-size: 1.2rem; font-weight: 500;">
        {% block header-middle %}
        {% endblock header-middle %}
        {% if messages %}
        <div class="messages" style="margin-top: 1rem; margin-bottom: 1rem;">
            {% for message in messages %}
            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}
    </div>



    <main>
        <!-- Main content -->
         {% block main-content %}
         {% endblock main-content %}
    </main>


    <footer>
        <!-- Footer content -->
        {% if user.is_authenticated %}
        <nav class="navbar">
            <div class="navbar-list">
                <a href="{% url 'recipes:explore' %}">
                    <div class="navlink-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.3" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
                        <span>Entdecken</span>
                    </div>
                </a>
                <a href="{% url 'recipes:create_with_text' %}">
                    <div class="navlink-mobile">                      
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus"><path d="M5 12h14"/><path d="M12 5v14"/></svg>
                        Erstellen               
                    </div>
                </a>
                <a href="{% url 'recipes:generate' %}" style="display: none">
                    <div class="navlink-mobile">                      
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-sparkle"><path d="M9.937 15.5A2 2 0 0 0 8.5 14.063l-6.135-1.582a.5.5 0 0 1 0-.962L8.5 9.936A2 2 0 0 0 9.937 8.5l1.582-6.135a.5.5 0 0 1 .963 0L14.063 8.5A2 2 0 0 0 15.5 9.937l6.135 1.581a.5.5 0 0 1 0 .964L15.5 14.063a2 2 0 0 0-1.437 1.437l-1.582 6.135a.5.5 0 0 1-.963 0z"/></svg>
                        Generieren                       
                    </div>
                </a>
                <a href="{% url 'recipes:library' %}">
                    <div class="navlink-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.1" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-library"><path d="m16 6 4 14"/><path d="M12 6v14"/><path d="M8 8v12"/><path d="M4 4v16"/></svg>
                        <span>Bibliothek</span>
                    </div>
                </a>
                <a href="{% url 'recipes:shopping_list' %}">
                    <div class="navlink-mobile">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-list"><path d="M3 12h.01"/><path d="M3 18h.01"/><path d="M3 6h.01"/><path d="M8 12h13"/><path d="M8 18h13"/><path d="M8 6h13"/></svg>
                        <span>Einkaufen</span>
                    </div>
                </a>
            </div>
        </nav>
        {% else %}
        <div>
            <a>Impressum</a>
        </div>
        {% endif %}
    </footer>

</body>
</html>